<header>
    <h3>Cadastro de clientes</h3>
</header>
<form>
    <fieldset class="row g-2 col-md-9">
        <legend>Dados Pessoais</legend>
        <div class="col-md-4">
            <label class="form-label">Nome</label>
            <input class="form-control" type="text" placeholder="Nome" aria-label="">
        </div>
        <div class="col-md-4">
            <label class="form-label">Data de Nascimento</label>
            <input class="form-control" type="text" placeholder="Data de Nascimento" aria-label="">
        </div>
        <div class="col-md-4">
            <label class="form-label">CPF</label>
            <input class="form-control" type="text" placeholder="CPF" aria-label="">
        </div>
        <div class="col-md-4">
            <label class="form-label">E-mail</label>
            <input class="form-control" type="text" placeholder="E-mail" aria-label="">
        </div>
    </fieldset>
    <fieldset class="row g-2 col-md-9">
        <legend>Endereço</legend>
        <div class="col-md-4">
            <label class="form-label">Rua</label>
            <input class="form-control" type="text" placeholder="Rua" aria-label="">
        </div>
        <div class="col-md-1">
            <label class="form-label">Numero</label>
            <input class="form-control" type="text" placeholder="Numero" aria-label="">
        </div>
        <div class="col-sm-3">
            <label class="form-label">Bairro</label>
            <input class="form-control" type="text" placeholder="E-mail" aria-label="">
        </div>
        <div class="col-md-4">
            <label class="form-label">Cidade</label>
            <input class="form-control" type="text" placeholder="Cidade" aria-label="">
        </div>
        <div class="col-md-3">
            <label class="form-label">Estado</label>
            <Select class="form-select" placeholder="Estado" aria-label="">
                <option>Minas Gerias</option>
                <option>São Paulo</option>
            </Select>
        </div>
    </fieldset>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Cadastrar </button>
        <button type="reset" class="btn btn-danger">Cancelar</button>
    </div>
</form>