<header>
    <h3>cadastro de Itens</h3>
</header>
<form>
    <fieldset class="row g-2 col-md-9">
        <legend>Cadastro de Mídia</legend>
        <div class="col-md-9">
            <label class="form-label">Nome da Mídia</label>
            <input class="form-control" type="text" placeholder="Nome da Mídia" aria-label="">
        </div>
        <div class="col-md-9">
            <label class="form-label">Descrição</label>
            <input class="form-control" type="text" placeholder="Descrição" aria-label="">
        </div>
        <div class="col-md-6">
            <label class="form-label">Tipo da Mídia</label>
            <Select class="form-select" placeholder="TipoMídia" aria-label="">
                <option>CD</option>
                <option>VHS</option>
                <option>DVD</option>
                <option>BLURAY</option>
                <option>VIDEOGAME</option>
            </Select>
        </div>
        <div class="col-md-6">            <label class="form-label">Categoria</label>
            <Select class="form-select" placeholder="Categoria" aria-label="">
                <option>Filme</option>
                <option>Jogo</option>
                <option>Show</option>
            </Select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Preço</label>
            <input class="form-control" type="text" placeholder="Preço" aria-label="">
        </div>
    </fieldset>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Cadastrar </button>
        <button type="reset" class="btn btn-danger">Cancelar</button>
    </div>
</form>