<header>
    <h3>Lista de filmes da loja</h3>
</header>
<table class="table table-light table-striped w-75 lista-de-itens">
    <thead>
        <tr scope="row">
            <th scope="col">Nome</th>
            <th>Preço</th>
            <th>Genero</th>
            <th>Duração</th>
            <th>Ano</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row">
            <td>A procura da felicidade</td>
            <td>2,00</td>
            <td>Fatos Reais</td>
            <td>200min</td>
            <td>2010</td>
            <td>
                <a href="#" class="editar"><i class="fas fa-edit"></i></a>
                <a href="#" class="deletar"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr scope="row">
            <td>A procura da felicidade</td>
            <td>2,00</td>
            <td>Fatos Reais</td>
            <td>200min</td>
            <td>2010</td>
            <td>
                <a href="#" class="editar"><i class="fas fa-edit"></i></a>
                <a href="#" class="deletar"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr scope="row">
            <td>A procura da felicidade</td>
            <td>2,00</td>
            <td>Fatos Reais</td>
            <td>200min</td>
            <td>2010</td>
            <td>
                <a href="#" class="editar"><i class="fas fa-edit"></i></a>
                <a href="#" class="deletar"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>