@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Conectando a nossa aplicação</p>
    <!---input asp-for="Email" type="email"/>
    <input asp-for="Password" type="password"/-->
    <button>Entrar</button>
</div>
